{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyle.css') }}">
<style type="text/css">
	.myStyle
{
  
  position: relative;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-right: 15px;
  padding: 5px;
  font-size: 20px;
  


}
</style>
    <h1>Contact Us</h1>
    <br><br><hr>

    
   <div class="myStyle">
    <br><br>
    GHOSHA SHAH<br><br>
    &#9743; : 
    &nbsp; &nbsp; +91 7600052854
    <br>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <!-- <a href="tel:7600052854">Call now</a> -->
  
    <br>
    &#9993; :
    &nbsp; &nbsp; 
    ghoshar99@gmail.com
    <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <!-- <a href="mailto:ghoshar99@gmail.com">Send Email</a>-->
    </div>
    

    <br><br>
    
    <div class="myStyle">
      PRIYA SHAH<br><br>
    &#9743; : 
    &nbsp; &nbsp; +91 7406328070
    <br>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <!-- <a href="tel:7406328070">Call now</a>-->
  
   
   
    <br>
    &#9993; :
    &nbsp; &nbsp; 
    priyashah452@gmail.com
    <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <!-- <a href="mailto:priyashah452@gmail.com">Send Email</a>-->

   </div>
   <br><br>
    
    <div class="myStyle">
      VINI PRAJAPATI<br><br>
    &#9743; : 
    &nbsp; &nbsp; +91 9265311640
    <br>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <!-- <a href="tel:9265311640">Call now</a>-->
 
    <br>
    &#9993; :
    &nbsp; &nbsp; 
    priyashah452@gmail.com
    <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <!-- <a href="mailto:priyashah452@gmail.com">Send Email</a>-->

   </div>
   <br><br><hr>



   
{% endblock content %}